<div class="cancel-modal-container">
  <div class="cancel-title-container">
    <h1 class="cancel-title">Cancel Ticket</h1>
    <mat-icon mat-dialog-close class="icon">close</mat-icon>
  </div>

  <div class="cancel-text-container">
    <h2 class="cancel-text">Are you sure you want to cancel ticket?</h2>
    <h4>you can still see it in the cancelled tickets.</h4>
  </div>

  <div class="cancel-btns">
    <div *ngIf="createloader === true; then spinner; else btn"></div>
    <ng-template #spinner>
      <mat-spinner
        style="display: flex; justify-content: center; text-align: center"
        class="mt-2"
        color="warn"
        [diameter]="30"
      ></mat-spinner>
    </ng-template>
    <ng-template #btn>
      <button class="open-ticket-btn icon" (click)="closeModal()">
        NO KEEP IT
      </button>
      <button class="cancel-ticket-btn icon" (click)="cancelHandler()">
        YES, PLEASE CANCEL TICKET
      </button>
    </ng-template>
  </div>
</div>
