<div class="cancel-modal-container">
  <div class="cancel-title-container">
    <h1 class="cancel-title">Cancel Ticket</h1>
    <mat-icon mat-dialog-close class="icon">close</mat-icon>
  </div>

  <div class="cancel-text-container">
    <p class="cancel-text">
      Are you sure you want to cancel ticket? you can still see it in the
      cancelled tickets.
    </p>
  </div>

  <div class="cancel-btns">
    <button class="open-ticket-btn icon" (click)="closeModal()">
      NO KEEP IT
    </button>
    <button class="cancel-ticket-btn icon" (click)="cancelHandler()">
      YES, PLEASE CANCEL TICKET
    </button>
  </div>
</div>
