<div *ngIf="ticketID === undefined; then create; else update">
  here is ignored
</div>

<ng-template #create>
  <form [formGroup]="createTicketDTOFormGroup" (ngSubmit)="submiCreate()">
    <h1 mat-dialog-title class="Create-a-ticket">Create A Ticket</h1>
    <mat-dialog-content class="mat-typography">
      <label class="Ticket-type"
        >Ticket type <span class="mandatory"> *</span></label
      >
      <mat-form-field [style.width.%]="100" appearance="fill">
        <mat-select formControlName="ticketType" placeholder="Ticket type">
          <mat-optgroup
            *ngFor="let option of ticketTypeDatasource"
            [label]="option.ticketType"
          >
            <mat-option
              *ngFor="let topic of option.topics"
              [value]="topic['id']"
            >
              {{ topic["text"] }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <label class="Ticket-type"
        >Summary <span class="mandatory"> *</span></label
      >

      <mat-form-field appearance="fill" [style.width.%]="100">
        <input matInput formControlName="summary" />
      </mat-form-field>

      <label class="Ticket-type">Attachments </label>
      <div class="center">
        <ngx-file-drop
          dropZoneLabel="Drop files here"
          (onFileDrop)="dropped($event, 0)"
          (onFileOver)="fileOver($event)"
          class="upload-drop-zone"
          (onFileLeave)="fileLeave($event)"
        >
          <ng-template
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector"
          >
            Drag and drop files, paste screenshots, or upload attachments
            <button
              type="button"
              class="cancel"
              style="display: block; margin-top: 1.5rem"
              (click)="openFileSelector()"
            >
              Browse Files
            </button>
          </ng-template>
        </ngx-file-drop>
      </div>

      <div class="Upcard" *ngFor="let item of FileLinks; let i = index">
        <div class="attachment-container">
          <mat-icon>attachment</mat-icon>
          {{ item
          }}<span
            class="delete-entry"
            style="cursor: pointer; color: red; margin-left: 2%"
            (click)="deleteImage(item)"
            >remove</span
          >
        </div>
      </div>

      <label class="Ticket-type">Description </label>
      <mat-form-field appearance="fill" [style.width.%]="100">
        <textarea rows="7" matInput formControlName="description"></textarea>
      </mat-form-field>

      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Team <span class="mandatory"> *</span></label
          >
          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-select formControlName="team">
              <mat-option
                *ngFor="let option of teamSoruce"
                [value]="option['value']"
              >
                {{ option["label"] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-ddl">
          <label class="Ticket-type">Location</label>
          <mat-form-field [style.width.%]="100" appearance="fill">
            <mat-label>{{ location }}</mat-label>

            <mat-select formControlName="location" [(ngModel)]="location">
              <mat-option
                *ngFor="let option of locationList"
                [value]="option['label']"
              >
                <img src="../../../assets/Location.png" />
                {{ option["label"] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Reporter <span class="mandatory"> *</span></label
          >
          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-select formControlName="reporter">
              <mat-option
                *ngFor="let option of reporterDatasource"
                [value]="option['value']"
                class="optionHeight"
              >
                <div class="menu">
                  <div class="red-menu">{{ option.initials }}</div>
                  <div class="person-data-menu">
                    <h3>{{ option["label"] }}</h3>
                    <p style="opacity: 0.7">{{ option["label1"] }}</p>
                  </div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-ddl">
          <label class="Ticket-type"
            >Source <span class="mandatory"> *</span></label
          >
          <mat-form-field [style.width.%]="100" appearance="fill">
            <mat-select formControlName="source" [(ngModel)]="source">
              <mat-option
                *ngFor="let option of sourceList; let i = index"
                [value]="i"
              >
                {{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Severity <span class="mandatory"> *</span></label
          >
          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-select formControlName="sevirity" [(ngModel)]="sevirity">
              <mat-option
                *ngFor="let option of severityList; let i = index"
                [value]="i"
              >
                {{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-ddl">
          <label class="Ticket-type"
            >Priority <span class="mandatory"> *</span></label
          >
          <mat-form-field [style.width.%]="100" appearance="fill">
            <mat-select formControlName="priority" [(ngModel)]="priority">
              <mat-option
                *ngFor="let option of priorityList; let i = index"
                [value]="i"
              >
                {{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type">Product categorization</label>
          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-select
              formControlName="productCategoryName1"
              (selectionChange)="productCategoryOne($event)"
              [(ngModel)]="categoryName1"
            >
              <mat-option
                *ngFor="let option of productCategoryName1"
                [value]="option['label']"
              >
                {{ option["label"] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-ddl" *ngIf="showSecondCategory">
          <label class="Ticket-type" style="margin-bottom: 2.2rem"></label>
          <mat-form-field [style.width.%]="100" appearance="fill">
            <mat-select
              formControlName="productCategoryName2"
              [(ngModel)]="categoryName2"
            >
              <mat-option
                *ngFor="let option of productCategoryName2"
                [value]="option['label']"
              >
                {{ option["label"] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <mat-checkbox
        class="checkBox"
        class="check-box"
        formControlName="saveAndOpenAnother"
        >Create another ticket
      </mat-checkbox>
      <button mat-button mat-dialog-close class="cancel">Cancel request</button>
      <button
        mat-button
        [mat-dialog-close]="true"
        class="send"
        type="submit"
        [disabled]="!createTicketDTOFormGroup.valid"
      >
        Send ticket
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #update>
  <form [formGroup]="updateTicketDTOFormGroup" (ngSubmit)="submitUpdate()">
    <h1 mat-dialog-title class="Create-a-ticket">Update A Ticket</h1>
    <mat-dialog-content class="mat-typography">
      <label class="Ticket-type">Ticket type</label>
      <mat-form-field [style.width.%]="100" appearance="fill">
        <mat-label>{{ ticketType }}</mat-label>
        <mat-select
          formControlName="ticketType"
          [(ngModel)]="ticketType"
          placeholder="Ticket type"
        >
          <mat-optgroup
            *ngFor="let option of ticketTypeDatasource"
            [label]="option.ticketType"
          >
            <mat-option
              *ngFor="let topic of option.topics"
              [value]="topic['id']"
            >
              {{ topic["text"] }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <label class="Ticket-type">Summary</label>

      <mat-form-field appearance="fill" [style.width.%]="100">
        <textarea
          matInput
          formControlName="summary"
          [value]="summary"
          [(ngModel)]="summary"
        ></textarea>
      </mat-form-field>

      <label class="Ticket-type">Attachments </label>
      <div class="center">
        <ngx-file-drop
          dropZoneLabel="Drop files here"
          (onFileDrop)="dropped($event, 1)"
          (onFileOver)="fileOver($event)"
          class="upload-drop-zone"
          (onFileLeave)="fileLeave($event)"
        >
          <ng-template
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector"
          >
            Drag and drop files, paste screenshots, or upload attachments
            <button
              type="button"
              class="cancel"
              style="display: block; margin-top: 1.5rem"
              (click)="openFileSelector()"
            >
              Browse Files
            </button>
          </ng-template>
        </ngx-file-drop>
      </div>
      <div class="Upcard" *ngFor="let url of FileLinks; let i = index">
        <div class="attachment-container">
          <mat-icon>attachment</mat-icon>
          {{ url
          }}<span
            class="delete-entry"
            style="cursor: pointer; color: red; margin-left: 2%"
            (click)="deleteImage(url)"
            >remove</span
          >
        </div>
      </div>

      <label class="Ticket-type">Description </label>
      <mat-form-field appearance="fill" [style.width.%]="100">
        <textarea
          rows="7"
          matInput
          formControlName="description"
          [(ngModel)]="description"
        ></textarea>
      </mat-form-field>

      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type">Team</label>
          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-label>{{ teamName }}</mat-label>

            <mat-select formControlName="team" [(ngModel)]="team">
              <mat-option
                *ngFor="let option of teamSoruce"
                [value]="option['value']"
              >
                {{ option["label"] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-ddl">
          <label class="Ticket-type">Location</label>
          <mat-form-field [style.width.%]="100" appearance="fill">
            <mat-label>{{ location }}</mat-label>
            <mat-select formControlName="location" [(ngModel)]="location">
              <mat-option
                *ngFor="let option of locationList"
                [value]="option['label']"
              >
                <img src="../../../assets/Location.png" />
                {{ option["label"] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type">Reporter</label>
          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-label>{{ reporter }}</mat-label>
            <mat-select formControlName="reporter" [(ngModel)]="reporter">
              <mat-option
                *ngFor="let option of reporterDatasource"
                [value]="option['value']"
                class="optionHeight"
              >
                <div class="menu">
                  <div class="red-menu">{{ option.initials }}</div>
                  <div class="person-data-menu">
                    <h3>{{ option["label"] }}</h3>
                    <p style="opacity: 0.7">{{ option["label1"] }}</p>
                  </div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-ddl">
          <label class="Ticket-type">Source</label>
          <mat-form-field [style.width.%]="100" appearance="fill">
            <mat-label>{{ source }}</mat-label>

            <mat-select formControlName="source" [(ngModel)]="source">
              <mat-option
                *ngFor="let option of sourceList; let i = index"
                [value]="i"
              >
                {{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type">Severity</label>
          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-label>{{ sevirity }}</mat-label>

            <mat-select formControlName="sevirity" [(ngModel)]="sevirity">
              <mat-option
                *ngFor="let option of severityList; let i = index"
                [value]="i"
              >
                {{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-ddl">
          <label class="Ticket-type">Priority</label>
          <mat-form-field [style.width.%]="100" appearance="fill">
            <mat-label>{{ priority }}</mat-label>

            <mat-select formControlName="priority" [(ngModel)]="priority">
              <mat-option
                *ngFor="let option of priorityList; let i = index"
                [value]="i"
              >
                {{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type">Product categorization</label>
          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-label>{{ categoryName1 }}</mat-label>

            <mat-select
              formControlName="categoryName1"
              [(ngModel)]="categoryName1"
              (selectionChange)="productCategoryOne($event)"
            >
              <mat-option
                *ngFor="let option of productCategoryName1"
                [value]="option['label']"
              >
                {{ option["label"] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-ddl">
          <label class="Ticket-type" style="margin-bottom: 2.2rem"></label>
          <mat-form-field [style.width.%]="100" appearance="fill">
            <mat-label>{{ categoryName2 }}</mat-label>

            <mat-select
              formControlName="categoryName2"
              [(ngModel)]="categoryName2"
            >
              <mat-option
                *ngFor="let option of productCategoryName2"
                [value]="option['label']"
              >
                {{ option["label"] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close class="cancel">Cancel request</button>
      <button mat-button [mat-dialog-close]="true" class="send" type="submit">
        Update ticket
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>
