<div class="header-container">
  <h1 mat-dialog-title class="Create-setting">Report A Bug</h1>
  <mat-icon (click)="closeModal()" class="icon">close</mat-icon>
</div>
<p style="opacity: 0.7; margin-bottom: 0.5rem; display: block">
  If you're facing any troubles you can contact us for support
</p>
<p style="opacity: 0.7">
  The content written in the bellow text Area to be sent as Email Body for
  support team
</p>
<form [formGroup]="createReport">
  <mat-dialog-content class="mat-typography">
    <angular-editor
      [config]="editorConfig"
      formControlName="text"
    ></angular-editor>
  </mat-dialog-content>
</form>

<mat-dialog-actions align="end">
  <div *ngIf="createloader === true; then spinner; else btn"></div>
  <ng-template #spinner>
    <mat-spinner
      style="display: flex; justify-content: center; text-align: center"
      class="mt-2"
      color="warn"
      [diameter]="30"
    ></mat-spinner>
  </ng-template>
  <ng-template #btn>
    <button mat-button (click)="closeModal()" class="cancel">Cancel</button>
    <button
      mat-button
      class="send"
      type="button"
      [disabled]="!createReport.valid"
      (click)="reportaBug()"
    >
      Send
    </button></ng-template
  >
</mat-dialog-actions>
