<div class="resolve-modal-container">
  <div class="resolve-title-container">
    <h1 class="resolve-title">Resolve Ticket</h1>
    <mat-icon mat-dialog-close class="icon">close</mat-icon>
  </div>

  <div class="resolved-text-container">
    <p class="resolved-text">Resolution summary</p>
  </div>
  <mat-form-field appearance="fill" class="resolve-textArea">
    <input
      type="text"
      matInput
      placeholder="Write you notes here:"
      (input)="resolveText($event)"
    />
  </mat-form-field>
  <div class="resolve-btns">
    <div *ngIf="createloader === true; then spinner; else btn"></div>
    <ng-template #spinner>
      <mat-spinner
        style="display: flex; justify-content: center; text-align: center"
        class="mt-2"
        color="warn"
        [diameter]="30"
      ></mat-spinner>
    </ng-template>
    <ng-template #btn>
      <button
        mat-button
        class="open-ticket-btn icon"
        (click)="openHandler()"
        [disabled]="!sendFlag"
      >
        OPEN TICKET
      </button>
      <button
        mat-button
        class="resolve-ticket-btn icon"
        (click)="resolveHandler()"
        [disabled]="!sendFlag"
      >
        RESOLVE TICKET
      </button>
    </ng-template>
  </div>
</div>
