<div class="resolve-modal-container">
  <div class="resolve-title-container">
    <h1 class="resolve-title">Resolve Ticket</h1>
    <mat-icon mat-dialog-close class="icon">close</mat-icon>
  </div>

  <div class="resolved-text-container">
    <p class="resolved-text">Resolution summary</p>
    <span style="color: #ed1c24">*</span>
  </div>
  <mat-form-field appearance="fill" class="resolve-textArea">
    <mat-label>Textarea</mat-label>
    <textarea (change)="resolveText($event)" matInput></textarea>
  </mat-form-field>
  <div class="resolve-btns">
    <div *ngIf="createloader === true; then spinner; else btn"></div>
    <ng-template #spinner>
      <mat-spinner
        style="display: flex; justify-content: center; text-align: center"
        class="mt-2"
        color="warn"
        [diameter]="30"
      ></mat-spinner>
    </ng-template>
    <ng-template #btn>
      <button class="open-ticket-btn icon" (click)="openHandler()">
        OPEN TICKET
      </button>
      <button class="resolve-ticket-btn icon" (click)="resolveHandler()">
        RESOLVE TICKET
      </button>
    </ng-template>
  </div>
</div>
