.resolve-modal-container{
      border-radius: 24px;
      background-color: #ffffff;
      width: 50vw;
      height: 40vh;
      overflow-y: hidden;
      overflow-x: hidden;
}
.resolve-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.resolve-title{
     font-family: Poppins;
     font-size: 36px;
     font-weight: bold;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.39;
     letter-spacing: 1px;
     text-align: left;
     color: #14142b;
}
.resolved-text{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-right: 1%;
}
.resolved-text-container{
    display: flex;
    flex-direction: row;
}
.resolve-textArea{
    width: 100%;
}
.resolve-btns{
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    margin-top: 5%;
}
.open-ticket-btn{
     gap: 10px;
     padding: 10px;
     border-radius: 6px;
     background-color: #f5f6f7;
     color: #42526e;
     border: none;
}
.resolve-ticket-btn{
     margin: 0 0 0 18px;
     padding: 10px;
     border-radius: 6px;
     background-color: #c4161c;
     color: #ffffff;
     border: none;
}