<div class="resolve-modal-container">
  <div class="resolve-title-container">
    <h1 class="resolve-title">Resolve Ticket</h1>
    <mat-icon mat-dialog-close>close</mat-icon>
  </div>

  <div class="resolved-text-container">
    <p class="resolved-text">Resolution summary</p>
    <span style="color: #ed1c24">*</span>
  </div>
  <mat-form-field appearance="fill" class="resolve-textArea">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <div class="resolve-btns">
    <button class="open-ticket-btn">OPEN TICKET</button>
    <button class="resolve-ticket-btn">RESOLVE TICKET</button>
  </div>
</div>
