.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tab-table-filter{
  display: flex;
  flex-direction: row;
}
.mat-column-select {
  overflow: initial;
}



.Filter {
  height: 3.45rem;
  margin: 3px 0.25rem 4px 10px;
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: #25213b;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.filter-icon {
  padding-right: 0.5rem;
}
.Rectangle-48 {
  height: 2.45rem;
  margin: 2px 26.3125rem 0 8px;
  padding: 8px 30px 8px 19.2px;
  border-radius: 6px;
  border: solid 1px #edebe9;
  background-color: #ffffff;
  display: inline;
}
.search-icon {
  border: none;
  background-color: white;
}
.Table-buttons {
  height: 1.45rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  float: right;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: #f5f6f7;
}
.Export-queue {
  width: 8rem;
  height: 24px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #42526e;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white im !important;
}
/* cell 1 */
.menu {
  display: flex;
  flex-direction: row;
}
.red-menu {
  background-color: #c4161c;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 8%;
  margin-top: 4%;
  color: #ffffff;
  align-self: center;
}
.person-data-menu {
  margin-top: 0;
  line-height: 0.5%;
  margin-right: 0.5rem;
}
.Low {
  color: #007f00;
   height: 25px;
   font-weight: bold;
   border-radius: 10px;
   width: fit-content;
   padding: 2px 5px;
  background-color: #cdffcd;
}
.High {
 height: 25px;
 font-weight: bold;
 border-radius: 10px;
 width: fit-content;
 padding: 2px 5px;
 color: #bf2600;
 background-color: #ffcdcd;
}
.Medium {
  height: 25px;
  font-weight: bold;
  border-radius: 10px;
  width: fit-content;
  padding: 2px 5px;
  background-color: #fff1cd;
  color: #d7a500;
}

.ngx-file-drop__drop-zone {
  border: none;
  border-radius: 30px;
  height: 100%;
  margin: auto;
}
.icon:hover {
  cursor: pointer;
}
.mat-spinner::ng-deep circle {
  stroke: #c4161c;
}
.spinner-design {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5%;
}
.menu{
  position: relative;
}

.hide {
   z-index: 5;
   opacity: 0;
   display: none;
   position: absolute;
}
.cancelDiv:hover+.hide {
  opacity: 1;
  display: block;
  color: #c4161c;
  margin-top: 1.5rem;
}
.assignDiv:hover+.hide {
  opacity: 1;
  display: block;
  color: #c4161c;
  margin-top: 1.5rem;
}
.detailsDiv:hover+.hide {
  opacity: 1;
  display: block;
  color: #c4161c;
  margin-top: 1.5rem;
}
.optionsDiv:hover+.hide {
  opacity: 1;
  display: block;
  color: #c4161c;
  margin-top: 1.5rem;
}
table{
  text-align: start;
}
th{
  text-align: center;
}