.Rectangle-339 {
  width: 98%;
  padding-left: 0.5rem;
  height: 65vh;
  flex-grow: 0;
  margin: 1% 0 0 1%;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
}
.fullheaderClass {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
}
.Filter {
  width: 7.5rem;
  height: 3.45rem;
  margin: 3px 0.25rem 4px 10px;
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: #25213b;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.filter-icon {
  padding-right: 0.5rem;
}
.Rectangle-48 {
  width: 25rem;
  height: 2.45rem;
  margin: 2px 36.3125rem 0 8px;
  padding: 8px 30px 8px 19.2px;

  display: inline;
}
.search-icon {
  border: none;
  background-color: white;
}
.mat-table {
  width: 100vw !important;
}
.Table-buttons {
  width: 12rem;
  height: 1.45rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  float: right;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: #f5f6f7;
  cursor: pointer;
}
.Export-queue {
  cursor: pointer;
  width: 65%;
  height: 24px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #42526e;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white im !important;
}
/* cell 1 */
.menu {
  width: 17rem;
  display: flex;
  flex-direction: row;
}
.mat-spinner::ng-deep circle {
  stroke: #c4161c;
}
.red-menu {
  background-color: #c4161c;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 8%;
  margin-top: 4%;
  color: #ffffff;
  align-self: center;
}
.person-data-menu {
  width: 11rem;

  margin-top: 0;
  line-height: 0.5%;
  margin: 0.5rem;
}
.icon:hover {
  cursor: pointer;
}
.spinner-design {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5%;
}
.Low {
  color: #007f00;
  height: 25px;
  font-weight: bold;
  border-radius: 10px;
  width: fit-content;
  padding: 2px 5px;
  background-color: #cdffcd;
}
.High {
  height: 22px;
  height: 25px;
  font-weight: bold;
  border-radius: 10px;
  width: fit-content;
  padding: 2px 5px;
  background-color: #ffcdcd;
  color: #bf2600;
}
.Medium {
  height: 25px;
  font-weight: bold;
  border-radius: 10px;
  width: fit-content;
  padding: 2px 5px;
  background-color: #fff1cd;
  color: #d7a500;
}
th {
  font-weight: bold;
  color: #333333;
  background-color: #f5f6f7;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(158, 156, 156);
  border-radius: 15px;
}
