<div class="table-header">
  <div class="tab-table-filter">
    <button
      type="button"
      class="Filter"
      (click)="openFilterModal()"
      mat-button
      *ngIf="dataLoaded"
    >
      <mat-icon class="filter-icon icon">filter_list</mat-icon>Filter
    </button>

    <!-- <mat-form-field class="Rectangle-48" *ngIf="dataLoaded">
    <mat-label>Search Tickets by..</mat-label>
    <mat-chip-list #chipList aria-label="Tickets selection">
      <mat-chip
        *ngFor="let item of chipsItems"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(item)"
      >
        {{ item.name }}
        <mat-icon class="icon" matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New item..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
        matInput
        (keyup)="applyFilter($event)"
      />
    </mat-chip-list>
  </mat-form-field> -->
    <form [formGroup]="ticketForm" class="Rectangle-48" *ngIf="dataLoaded">
      <mat-form-field style="display: block">
        <input
          type="text"
          matInput
          placeholder="Search by ticket number.."
          formControlName="ticket"
          [matAutocomplete]="autoCo"
        />
        <mat-autocomplete
          (optionSelected)="onSelectionChanged($event)"
          #autoCo="matAutocomplete"
          [displayWith]="displayCo"
        >
          <mat-option
            *ngFor="let ticketno of filteredTickets | async"
            [value]="ticketno"
          >
            {{ ticketno }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="Table-buttons" *ngIf="dataLoaded">
    <label class="Export-queue">Export Selected</label
    ><img src="assets/Checkbox.svg" />
  </div>
</div>

<div *ngIf="showSpinner === true; then spinner; else data">here is ignored</div>
<ng-template #spinner>
  <div class="spinner-design">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>

<ng-template #data class="table">
  <div *ngIf="empty">
    <app-no-more-tickets></app-no-more-tickets>
  </div>
  <div *ngIf="!empty">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matPagination
      (matSortChange)="sortChange($event)"
    >
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Raised BY</th>
        <td mat-cell *matCellDef="let user">
          <div class="menu">
            <div class="red-menu">
              <label>{{ firstCharacter }}</label>
            </div>
            <div class="person-data-menu">
              <a
                *ngIf="from === 0"
                [routerLink]="['/itpersonal/details', user.id]"
                fragment="servicerequests"
              >
              </a>
              <a
                *ngIf="from === 2"
                [routerLink]="['/itpersonal/details', user.id]"
                fragment="incidents"
              >
              </a>
              <a
                *ngIf="from === 3"
                [routerLink]="['/itpersonal/details', user.id]"
                fragment="problems"
              >
              </a>
              <a
                *ngIf="from === null"
                [routerLink]="['/itpersonal/details', user.id]"
              >
              </a>
              <h3 style="margin-bottom: 0; margin-top: 1rem">
                {{ user.name }}
              </h3>
              <h4 style="opacity: 0.7">{{ user.email }}</h4>
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created ON</th>
        <td mat-cell *matCellDef="let date">
          <div class="person-data-menu">
            <h3>{{ date.createdDate }}</h3>
            <p style="opacity: 0.7">{{ date.createdTime }}</p>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="ticketCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Topic</th>
        <td mat-cell *matCellDef="let topic">
          <div class="person-data-menu">
            <h3 style="margin-bottom: 0; margin-top: 1rem">
              {{ topic.ticketTopic }}
            </h3>
            <p
              style="opacity: 0.7"
              style="display: flex; align-items: center"
              *ngIf="topic.ticketCategory == TicketCategory.Servicerequest"
            >
              <img src="assets/4.png" style="padding-right: 0.25rem" />Service
              request
            </p>
            <p
              style="opacity: 0.7"
              style="display: flex; align-items: center"
              *ngIf="topic.ticketCategory == TicketCategory.Problem"
            >
              <img src="assets/6.png" style="padding-right: 0.25rem" />Problem
            </p>
            <p
              style="opacity: 0.7"
              style="display: flex; align-items: center"
              *ngIf="topic.ticketCategory == TicketCategory.Change"
            >
              <img src="assets/7.png" style="padding-right: 0.25rem" />Change
            </p>
            <p
              style="opacity: 0.7"
              style="display: flex; align-items: center"
              *ngIf="topic.ticketCategory == TicketCategory.Incident"
            >
              <img src="assets/5.png" style="padding-right: 0.25rem" />Incident
            </p>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Sevirity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>SEVERITY</th>
        <td mat-cell *matCellDef="let topic">
          <div class="person-data-menu">
            <h3 *ngIf="topic.Sevirity == sevirity.Low" class="Low">
              <mat-icon>lens</mat-icon>Low
            </h3>
            <h3 *ngIf="topic.Sevirity == sevirity.Medium" class="Medium">
              <mat-icon>lens</mat-icon> Medium
            </h3>
            <h3 *ngIf="topic.Sevirity == sevirity.High" class="High">
              <mat-icon>lens</mat-icon>High
            </h3>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="ticketNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Number</th>
        <td mat-cell *matCellDef="let number">
          <div class="person-data-menu">
            <h3>{{ number.ticketNumber }}</h3>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let topic">
          <div class="menu">
            <mat-icon (click)="resolveTicket(topic.id)" class="icon resolveDiv"
              >assignment_turned_in</mat-icon
            >
            <div class="hide">
              <p>Resolve Ticket</p>
            </div>
            <img
              (click)="escalateTicket(topic.id)"
              src="assets/PeopleError.svg"
              style="margin-right: 0.1rem"
              class="icon escalateDiv"
            />
            <div class="hide">
              <p>Escalate Ticket</p>
            </div>
            <img
              (click)="openTicket(topic.id)"
              src="assets/Open.svg"
              style="margin-right: 0.1rem"
              class="icon detailsDiv"
            />
            <div class="hide">
              <p>Ticket details</p>
            </div>
            <app-ticket-options
              [ticketID]="topic.id"
              class="optionsDiv"
            ></app-ticket-options>
            <div class="hide">
              <p>Ticket options</p>
            </div>
          </div>
        </td>
      </ng-container>
    </table>

    <mat-paginator
      #paginator
      [pageSize]="pageSize"
      [length]="pageLength"
      (page)="pageEvents($event)"
      [pageSizeOptions]="[5, 10, 20, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</ng-template>
