.upload-drop-zone {
    height: 157px;
    width: 60%;
    flex-grow: 0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    border: solid 2px #edebe9;
    background-color: #f5f6f7;
  }

  .send {
    justify-content: flex-start;
    width: 10%;
    height: 6%;
    cursor: pointer;
    margin-left: 60%;
    flex-grow: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: #c4161c;
    margin-top: 1%;
  }
  .send:hover{
    background-color: #c4161c;
    color: white;
  }
  
  