.Group-2 {
  width: 212px;
  height: 72.5px;
  margin: 3rem 0 1.5rem 0;
}
.align-mainDev {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.card-div {
  background-color: white;
  width: 30.8rem;
  height: 50vh;

  border-radius: 32px;
  justify-self: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}

@media only screen and (max-width: 600px) {
  .card-div {
    width: 75%;
    height: 40vh;
  }
}

.Login {
  width: 11rem;
  height: 2.25rem;

  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: 1px;

  color: #14142b;
  display: block;
}
.content {
  margin: 6% 0 0 17.5%;
}

.mat-form-field {
  width: 80%;
  margin: 5% 0 0 0;
}
button {
  border: none;
  color: darkgray;
}
.mat-spinner::ng-deep circle {
  stroke: #c4161c;
}

.Rectangle-156 {
  width: 79%;
  height: 64px;
  margin: 30px 6.4px 0 0;
  padding: 0 16.4px 0 16.4px;
  background-color: #c4161c;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}
.Group-3 {
  width: 114.6px;
  height: 26.6px;
  margin: 56.5px 189.4px 0 189px;
  object-fit: contain;
}
