<div class="Rectangle-339">
    <div class="fullheaderClass">
        <button type="button" class="Filter"  mat-button >
            <mat-icon class="filter-icon icon">filter_list</mat-icon>Filter
        </button>
        
        <mat-form-field class="Rectangle-48" >
            <mat-label>Search Settings by..</mat-label>
           
                <input matInput placeholder="New item..."  />
            
        </mat-form-field>
        <div class="Table-buttons" (click)="openAddSettings()">
            <label class="Export-queue">Add new request type</label><img src="assets/4.png" />
        </div>
    </div>
</div>