@import "~bootstrap/dist/css/bootstrap.css";
.Welcome-to-our-help-center {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.78;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.Rectangle-4 {
  padding: 26px 565px 26px 26px;
  border-radius: 8px;
  background-color: #ffffff;
}
@media (min-width: 320px) and (max-width: 480px) {
  .Rectangle-4 {
    padding: 1.6rem 4.6rem;
  }
}
.Rectangle-5 {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
}
.Common-Requests {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}
.Get-IT-help-Set-up-VPN-to-the-office-Request-a-n {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #717171;
}
.arrow-dev {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
