<div class="row">
  <div class="col-md-12 mt-5 mb-2 p-0 Welcome-to-our-help-center m-3">
    Welcome to our help center
  </div>
  <div class="col-md-12 p-0 m-3">
    <input
      type="text"
      class="Rectangle-4"
      placeholder="How can i help you today?"
      (keyup)="filter($event)"
    />
  </div>
  <div class="col-md-12 mt-5">
    <div class="row">
      <div
        class="col-md-12 Rectangle-5 mb-3"
        *ngFor="let Group of categoriesList"
        (click)="goToDetails(Group.id)"
      >
        <div class="col-md-11">
          <label class="Common-Requests">{{ Group.name }}</label>
          <p class="Get-IT-help-Set-up-VPN-to-the-office-Request-a-n">
            {{ Group.subCategories }}
          </p>
        </div>
        <div class="col-md-1 arrow-dev">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-5 text-center" style="justify-content: center">
      <img src="assets/assist.svg" />
    </div>
  </div>
</div>
