<div *ngIf="settingID === undefined; then create; else update">
  here is ignored
</div>
<ng-template #create>
  <form [formGroup]="createSettingsFormGroup">
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <h3 mat-dialog-title class="Create-setting">
        Create product categorization
      </h3>
      <mat-icon style="cursor: pointer" mat-dialog-close>close</mat-icon>
    </div>

    <mat-dialog-content class="mat-typography" id="addForm">
      <label class="Ticket-type"
        >Product category <span class="mandatory"> *</span></label
      >

      <mat-form-field [style.width.%]="97" appearance="fill">
        <input matInput formControlName="productCategory" />
      </mat-form-field>
      <div *ngFor="let Group of checkArray.value; let i = index">
        <div class="row-ddl" style="justify-content: flex-end">
          <button
            mat-button
            type="button"
            (click)="
              editGroup(Group.subCategoryName.value, Group.goal.value, 0)
            "
            style="padding: 0; color: grey"
          >
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button
            mat-button
            type="button"
            (click)="removeGroup(Group.subCategoryName.value, Group.goal.value)"
            style="margin-left: 0.5rem; padding: 0"
          >
            <label style="color: red">- Remove</label>
          </button>
        </div>
        <div class="row-ddl">
          <div class="col-ddl">
            <label class="Ticket-type"
              >Product sub-category <span class="mandatory"> *</span></label
            >
            {{ Group.subCategoryName.value }}
          </div>
          <div class="col-ddl">
            <label class="Ticket-type"
              >SLA Change <span class="mandatory"> *</span></label
            >
            <span *ngIf="Group.sign.value == 0" class="slaType"
              ><img src="assets/add.svg" style="margin-right: 0.25" />Add</span
            >
            <span *ngIf="Group.sign.value == 1" class="slaType"
              ><img
                src="assets/subtract.svg"
                style="margin-right: 0.25"
              />Remove</span
            >
          </div>
          <div class="col-ddl">
            <label class="Ticket-type"
              >Change Goal <span class="mandatory"> *</span></label
            >
            {{ Group.goal.value }}
          </div>
        </div>
      </div>
      <div class="form-group row-ddl" *ngIf="viewAdd">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Product sub-category <span class="mandatory"> *</span></label
          >

          <mat-form-field [style.width.%]="95" appearance="fill">
            <input matInput formControlName="subCategoryName" />
          </mat-form-field>
        </div>
        <div class="col-ddl">
          <label class="Ticket-type"
            >SLA Change <span class="mandatory"> *</span></label
          >

          <mat-form-field [style.width.%]="95" appearance="fill">
            <mat-select formControlName="sign">
              <mat-option [value]="0" class="">
                <img
                  src="assets/add.svg"
                  style="margin-right: 0.25rem"
                />Add</mat-option
              >
              <mat-option [value]="1" class="">
                <img
                  src="assets/subtract.svg"
                  style="margin-right: 0.25rem"
                />Remove</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-ddl">
          <label class="Ticket-type"
            >Change Goal <span class="mandatory"> *</span></label
          >

          <mat-form-field [style.width.%]="95" appearance="fill">
            <input matInput type="number" min="0" formControlName="goal" />
            <span matSuffix class="Rectangle-9">Hours</span>
          </mat-form-field>
          <div class="row-ddl" style="justify-content: flex-end">
            <button
              mat-button
              type="button"
              (click)="addGroup(0)"
              style="padding: 0; color: green"
            >
              <mat-icon>done</mat-icon> save
            </button>
            <button
              mat-button
              type="button"
              (click)="removeThroughAdd()"
              style="margin-left: 0.5rem; padding: 0"
            >
              <label style="color: red">- Remove</label>
            </button>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <span class="createGroup" (click)="viewAddGroup()"
        >+ Add new sub-category</span
      >
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 100%;
        "
      >
        <div *ngIf="createloader === true; then spinner; else btn"></div>
        <ng-template #spinner>
          <mat-spinner
            style="display: flex; justify-content: center; text-align: center"
            class="mt-2"
            color="warn"
            [diameter]="30"
          ></mat-spinner>
        </ng-template>
        <ng-template #btn>
          <button mat-button mat-dialog-close class="cancel">
            Cancel request
          </button>
          <button
            mat-button
            class="send"
            type="button"
            (click)="submitCreatePC()"
            [disabled]="
              !createSettingsFormGroup.valid || checkArray.value.length == 0
            "
          >
            Save
          </button></ng-template
        >
      </div>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #update>
  <form [formGroup]="updateSettingsFormGroup">
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <h1 mat-dialog-title class="Create-setting">
        Update product categorization
      </h1>
      <mat-icon style="cursor: pointer" mat-dialog-close>close</mat-icon>
    </div>

    <mat-dialog-content class="mat-typography" id="addForm">
      <label class="Ticket-type"
        >Product category <span class="mandatory"> *</span></label
      >

      <mat-form-field [style.width.%]="97" appearance="fill">
        <input
          matInput
          formControlName="productCategory"
          [(ngModel)]="productCategory"
        />
      </mat-form-field>
      <div *ngFor="let Group of checkArray.value; let i = index">
        <div class="row-ddl" style="justify-content: flex-end">
          <button
            mat-button
            type="button"
            *ngIf="!viewAdd"
            (click)="
              editGroup(Group.subCategoryName.value, Group.goal.value, 1)
            "
            style="padding: 0; color: grey"
          >
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button
            mat-button
            type="button"
            *ngIf="Group.id.value == 0"
            (click)="removeGroup(Group.subCategoryName.value, Group.goal.value)"
            style="margin-left: 0.5rem; padding: 0"
          >
            <label style="color: red">- Remove</label>
          </button>
          <button
            mat-button
            type="button"
            *ngIf="Group.id.value != 0 && Group.isDeleted.value == false"
            (click)="
              removePreAddedGroup(Group.subCategoryName.value, Group.goal.value)
            "
            style="margin-left: 0.5rem; padding: 0"
          >
            <label style="color: red">- Remove</label>
          </button>
        </div>
        <div class="row-ddl">
          <div class="col-ddl">
            <label class="Ticket-type"
              >Product sub-category <span class="mandatory"> *</span></label
            >
            {{ Group.subCategoryName.value }}
          </div>
          <div class="col-ddl">
            <label class="Ticket-type"
              >SLA Change <span class="mandatory"> *</span></label
            >
            <span *ngIf="Group.sign.value == 0" class="slaType"
              ><img src="assets/add.svg" style="margin-right: 0.25" />Add</span
            >
            <span *ngIf="Group.sign.value == 1" class="slaType"
              ><img
                src="assets/subtract.svg"
                style="margin-right: 0.25"
              />Remove</span
            >
          </div>
          <div class="col-ddl">
            <label class="Ticket-type"
              >Change Goal <span class="mandatory"> *</span></label
            >
            {{ Group.goal.value }}
          </div>
        </div>
      </div>
      <div class="form-group row-ddl" *ngIf="viewAdd">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Product sub-category <span class="mandatory"> *</span></label
          >

          <mat-form-field [style.width.%]="95" appearance="fill">
            <input matInput formControlName="subCategoryName" />
          </mat-form-field>
        </div>
        <div class="col-ddl">
          <label class="Ticket-type"
            >SLA Change <span class="mandatory"> *</span></label
          >

          <mat-form-field [style.width.%]="95" appearance="fill">
            <mat-select formControlName="sign">
              <mat-option [value]="0" class="">
                <img src="assets/add.svg" style="margin-right: 0.25rem" />Add
              </mat-option>
              <mat-option [value]="1" class="">
                <img
                  src="assets/subtract.svg"
                  style="margin-right: 0.25rem"
                />Remove
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-ddl">
          <label class="Ticket-type"
            >Change Goal <span class="mandatory"> *</span></label
          >

          <mat-form-field [style.width.%]="95" appearance="fill">
            <input matInput type="number" min="0" formControlName="goal" />
            <span matSuffix class="Rectangle-9">Hours</span>
          </mat-form-field>
          <div class="row-ddl" style="justify-content: flex-end">
            <button
              mat-button
              type="button"
              (click)="addGroup(1)"
              style="padding: 0; color: green"
            >
              <mat-icon>done</mat-icon> save
            </button>
            <button
              mat-button
              type="button"
              (click)="removeThroughAdd()"
              style="margin-left: 0.5rem; padding: 0"
            >
              <label style="color: red">- Remove</label>
            </button>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <span class="createGroup" (click)="viewAddGroup()"
        >+ Add new sub-category</span
      >
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 100%;
        "
      >
        <div *ngIf="createloader === true; then spinner; else btn"></div>
        <ng-template #spinner>
          <mat-spinner
            style="display: flex; justify-content: center; text-align: center"
            class="mt-2"
            color="warn"
            [diameter]="30"
          ></mat-spinner>
        </ng-template>
        <ng-template #btn>
          <button mat-button mat-dialog-close class="cancel">
            Cancel request
          </button>
          <button
            mat-button
            class="send"
            type="button"
            (click)="submitEditPC()"
            [disabled]="
              !updateSettingsFormGroup.valid || checkArray.value.length == 0
            "
          >
            Save
          </button></ng-template
        >
      </div>
    </mat-dialog-actions>
  </form>
</ng-template>
