<div class="assign-modal-container">
  <div class="assign-title-container">
    <h1 class="assign-title">Assign Ticket</h1>
    <mat-icon class="icon" mat-dialog-close>close</mat-icon>
  </div>

  <div class="assign-text-container">
    <p class="assign-text">Assigne to</p>
    <span style="color: #ed1c24">*</span>
  </div>
  <mat-select
    (selectionChange)="usersHandler($event)"
    name="option"
    formControlName="reporter"
    class="users-DDL"
  >
    <mat-option
      *ngFor="let option of reporterDatasource"
      [value]="option['value']"
      class="optionHeight"
    >
      <div class="menu">
        <div class="red-menu">{{ option.initials }}</div>
        <div class="person-data-menu">
          <h3>{{ option["label"] }}</h3>
          <p style="opacity: 0.7">{{ option["label1"] }}</p>
        </div>
      </div>
    </mat-option>
  </mat-select>
  <div class="assign-btns">
    <button class="open-ticket-btn icon" (click)="backBtn()">GO BACK</button>
    <button class="assign-ticket-btn icon" (click)="assignHandler()">
      ASSIGN TICKET
    </button>
  </div>
</div>
