.navbar-container {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 97.6%;
  height: 7%;
  flex-grow: 0;
  padding: 2px 32px 16px 5px;
  box-shadow: 0 0 1px 0 rgba(9, 30, 66, 0.31), 0 3px 5px 0 rgba(9, 30, 66, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  min-height: 2.7rem;
}
.navbar-logo {
  width: 10%;
  height: 90%;
  flex-grow: 0;
  margin: .7% 70% 1% 0;
  object-fit: contain;
}
.menu {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.red-menu {
  background-color: #c4161c;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 8%;
  margin-top:4% ;
  color: #ffffff;
  align-self: center;
}
.person-data-menu {
 display: flex;
 flex-direction: column;
  padding-left: 2%;
  padding-top: 2%;
  line-height: .5%;
}
.person-container{
  display: flex;
  flex-direction: row;
}
