<div class="sidenav-container">
  <div class="logo-withtext">
    <img src="assets/halawani.png" class="halawani-logo" />
    <div class="halawani-text">
      <h3 class="halawani-title">Halawani Bros</h3>
      <p style="opacity: 0.7">ITSM</p>
    </div>
  </div>
  <div class="divider"></div>
  <div class="actions">
    <h1 class="sub-title-side">ACTIONS</h1>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/itpersonal']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="action-container"
        *ngIf="!fromManager()"
      >
        <img src="assets/1.svg" class="icon-img" />
        <h4 style="opacity: 0.8">Tickets Queue</h4>
      </a>
      <a
        mat-list-item
        [routerLink]="['/itmanager']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="action-container"
        *ngIf="fromManager()"
      >
        <img src="assets/1.svg" class="icon-img" />
        <h4 style="opacity: 0.8">Tickets Queue</h4>
      </a>
      <a
        mat-list-item
        [routerLink]="['/assasa']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="action-container"
      >
        <img src="assets/2.png" class="icon-img" />
        <h4 style="opacity: 0.8">Reports DashBoard</h4>
      </a>
      <a
        mat-list-item
        [routerLink]="['/itmanager/esclated']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="action-container"
        *ngIf="fromManager()"
      >
        <img src="assets/3.png" class="icon-img" />
        <h4 style="opacity: 0.8">Ticket Escalations</h4>
      </a>
      <a
        mat-list-item
        [routerLink]="['/itpersonal/esclated']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="action-container"
        *ngIf="!fromManager()"
      >
        <img src="assets/3.png" class="icon-img" />
        <h4 style="opacity: 0.8">Ticket Escalations</h4>
      </a>
    </mat-nav-list>
  </div>
  <div class="actions">
    <h1 class="sub-title-side">BROWSE BY CATEGORY</h1>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/itmanager/servicerequests']"
        [routerLinkActive]="['active']"
        class="action-container"
        *ngIf="fromManager()"
      >
        <img src="assets/4.png" class="icon-img" />
        <h4 style="opacity: 0.8">Service Requests</h4>
      </a>
      <a
        mat-list-item
        [routerLink]="['/itpersonal/servicerequests']"
        [routerLinkActive]="['active']"
        class="action-container"
        *ngIf="!fromManager()"
      >
        <img src="assets/4.png" class="icon-img" />
        <h4 style="opacity: 0.8">Service Requests</h4>
      </a>
      <a
        mat-list-item
        [routerLink]="['/itmanager/incidents']"
        [routerLinkActive]="['active']"
        class="action-container"
        *ngIf="fromManager()"
      >
        <img src="assets/5.png" class="icon-img" />
        <h4 style="opacity: 0.8">Incidents</h4>
      </a>
      <a
        mat-list-item
        [routerLink]="['/itpersonal/incidents']"
        [routerLinkActive]="['active']"
        class="action-container"
        *ngIf="!fromManager()"
      >
        <img src="assets/5.png" class="icon-img" />
        <h4 style="opacity: 0.8">Incidents</h4>
      </a>
      <a
        mat-list-item
        [routerLink]="['/itmanager/problems']"
        [routerLinkActive]="['active']"
        class="action-container"
        *ngIf="fromManager()"
      >
        <img src="assets/6.png" class="icon-img" />
        <h4 style="opacity: 0.8">Problems</h4>
      </a>
      <a
        mat-list-item
        [routerLink]="['/itpersonal/problems']"
        [routerLinkActive]="['active']"
        class="action-container"
        *ngIf="!fromManager()"
      >
        <img src="assets/6.png" class="icon-img" />
        <h4 style="opacity: 0.8">Problems</h4>
      </a>
      <a
        mat-list-item
        [routerLink]="['/itmanager/changes']"
        [routerLinkActive]="['active']"
        class="action-container"
        *ngIf="fromManager()"
      >
        <img src="assets/7.png" class="icon-img" />
        <h4 style="opacity: 0.8">Changes</h4>
      </a>
      <a
        mat-list-item
        [routerLink]="['/itpersonal/changes']"
        [routerLinkActive]="['active']"
        class="action-container"
        *ngIf="!fromManager()"
      >
        <img src="assets/7.png" class="icon-img" />
        <h4 style="opacity: 0.8">Changes</h4>
      </a>
    </mat-nav-list>
  </div>

  <div class="actions">
    <h1 class="sub-title-side">CONFIGURATION</h1>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/itmanager/settings']"
        [routerLinkActive]="['active']"
        class="action-container"
        *ngIf="fromManager() && role == 3"
      >
        <img src="assets/8.png" class="icon-img" />
        <h4 style="opacity: 0.8">Settings</h4>
      </a>
    </mat-nav-list>
    <div
      mat-list-item
      [routerLinkActive]="['active']"
      class="action-container"
      (click)="reportABug()"
      style="cursor: pointer"
    >
      <img src="assets/9.png" class="icon-img" />
      <h4 style="opacity: 0.8">Report a Bug</h4>
    </div>
    <div
      mat-list-item
      [routerLinkActive]="['active']"
      class="action-container"
      (click)="askForSupport()"
      style="cursor: pointer"
    >
      <img src="assets/10.png" class="icon-img" />
      <h4 style="opacity: 0.8">Ask for Support</h4>
    </div>
  </div>
  <div class="logout" (click)="userLogout()">
    <div class="action-container">
      <img src="assets/11.png" class="icon-img" />
      <h4 style="opacity: 0.8">Logout</h4>
    </div>
  </div>
</div>
