<div class="Rectangle-339">
  <div class="fullheaderClass">
    <form [formGroup]="helpcenter" class="Rectangle-48" *ngIf="dataLoaded">
      <mat-form-field style="display: block">
        <input
          type="text"
          matInput
          placeholder="Search by name.."
          formControlName="name"
          [matAutocomplete]="autoCo"
        />
        <mat-autocomplete
          (optionSelected)="onSelectionChanged($event)"
          #autoCo="matAutocomplete"
          [displayWith]="displayCo"
        >
          <mat-option
            *ngFor="let ticketno of filteredTickets | async"
            [value]="ticketno"
          >
            {{ ticketno }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div
      [ngClass]="dataLoaded ? 'Table-buttons' : 'Empty-Table'"
      (click)="openAddSettings()"
    >
      <label class="Export-queue">Add new Portal Group</label
      ><img src="assets/GroupList.svg" />
    </div>
  </div>

  <div *ngIf="showSpinner === true; then spinner; else data">
    here is ignored
  </div>
  <ng-template #spinner>
    <div class="spinner-design">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </ng-template>

  <ng-template #data class="table">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matPagination
      (matSortChange)="sortChange($event)"
    >
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Portal group</th>
        <td mat-cell *matCellDef="let user">
          <div style="display: flex; flex-direction: column">
            <p style="font-weight: bold; margin-bottom: 0">{{ user.name }}</p>
            <p style="opacity: 0.7; padding-top: 0">{{ user.description }}</p>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="topicCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          ASSIGNED TOPICS
        </th>
        <td mat-cell *matCellDef="let user" style="color: #333">
          {{ user.topicCount }} Topics
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let topic">
          <div class="menu">
            <mat-icon
              *ngIf="!topic.isVisable"
              class="visibility"
              (click)="setVisability(topic.id, true)"
              >remove_red_eye
            </mat-icon>
            <div class="hide">
              <p>change visibility</p>
            </div>
            <mat-icon
              *ngIf="topic.isVisable"
              (click)="setVisability(topic.id, false)"
              class="visibility"
              >remove_circle
            </mat-icon>
            <div class="hide">
              <p>change visibility</p>
            </div>
            <mat-icon class="icon edit" (click)="OpenEdit(topic.id)"
              >edit</mat-icon
            >
            <div class="hide">
              <p>edit group</p>
            </div>
            <!-- <img  src="assets/PeopleError.svg" style="margin-right: 0.1rem"
                            class="icon" /> -->

            <!-- <img (click)="openTicket(topic.id)" src="assets/Open.svg" style="margin-right: 0.1rem" class="icon" />
                        <app-ticket-options [ticketID]="topic.id"></app-ticket-options> -->
          </div>
        </td>
      </ng-container>
    </table>

    <mat-paginator
      #paginator
      [pageSize]="pageSize"
      [length]="pageLength"
      (page)="pageEvents($event)"
      [pageSizeOptions]="[5, 10, 20, 100]"
      showFirstLastButtons
      style="font-weight: bold; color: #333333; background-color: #f5f6f7"
    ></mat-paginator>
  </ng-template>
</div>
