<div class="filter-modal-container">
  <div class="filter-title-container">
    <h4 class="filter-title">FILTER BY:</h4>
    <mat-icon class="icon" mat-dialog-close>close</mat-icon>
  </div>
  <div class="filter-row">
    <div class="filter-controller">
      <p>LOCATION</p>
      <mat-form-field appearance="fill">
        <mat-label>Locations</mat-label>
        <mat-select
          [formControl]="locations"
          (selectionChange)="filterHandler('location', $event)"
        >
          <mat-select-trigger>
            {{ locations.value ? locations.value : "" }}
            <!-- <span
              *ngIf="locations.value?.length > 1"
              class="example-additional-selection"
            >
              (+{{ locations.value.length - 1 }}
              {{ locations.value?.length === 2 ? "other" : "others" }})
            </span> -->
          </mat-select-trigger>
          <mat-option
            *ngFor="let location of locationList"
            [value]="location['label']"
          >
            <img src="../../../assets/Location.png" />
            {{ location["label"] }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-controller">
      <p>SOURCE</p>
      <mat-form-field appearance="fill">
        <mat-label>Sources</mat-label>
        <mat-select
          [formControl]="sources"
          (selectionChange)="filterHandler('source', $event)"
        >
          <mat-select-trigger>
            {{ sources.value ? sources.value : "" }}
            <!-- <span
              *ngIf="sources.value?.length > 1"
              class="example-additional-selection"
            >
              (+{{ sources.value.length - 1 }}
              {{ sources.value?.length === 2 ? "other" : "others" }})
            </span> -->
          </mat-select-trigger>
          <mat-option
            *ngFor="let source of sourceList"
            [value]="source['text']"
            >{{ source["text"] }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-controller">
      <p>STATE</p>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select
          [formControl]="states"
          (selectionChange)="filterHandler('state', $event)"
        >
          <mat-select-trigger>
            {{ states.value ? states.value : "" }}
            <!-- <span
              *ngIf="states.value?.length > 1"
              class="example-additional-selection"
            >
              (+{{ states.value.length - 1 }}
              {{ states.value?.length === 2 ? "other" : "others" }})
            </span> -->
          </mat-select-trigger>
          <mat-option *ngFor="let state of stateList" [value]="state['text']">{{
            state["text"]
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="filter-row">
    <div class="filter-controller">
      <p>DATE</p>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
          (dateChange)="dateChange($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="filter-controller">
      <p>SEVERITY</p>
      <mat-form-field appearance="fill">
        <mat-label>Severity</mat-label>
        <mat-select
          (selectionChange)="filterHandler('severity', $event)"
          [formControl]="severities"
        >
          <mat-select-trigger>
            {{ severities.value ? severities.value : "" }}
            <!-- <span
              *ngIf="severities.value?.length > 1"
              class="example-additional-selection"
            >
              (+{{ severities.value.length - 1 }}
              {{ severities.value?.length === 2 ? "other" : "others" }})
            </span> -->
          </mat-select-trigger>
          <mat-option
            *ngFor="let severity of severityList"
            [value]="severity['text']"
            >{{ severity["text"] }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-controller">
      <p>PRIORITY</p>
      <mat-form-field appearance="fill">
        <mat-label>Priorities</mat-label>
        <mat-select
          [formControl]="priorities"
          (selectionChange)="filterHandler('priority', $event)"
        >
          <mat-select-trigger>
            {{ priorities.value ? priorities.value : "" }}
            <!-- <span
              *ngIf="priorities.value?.length > 1"
              class="example-additional-selection"
            >
              (+{{ priorities.value.length - 1 }}
              {{ priorities.value?.length === 2 ? "other" : "others" }})
            </span> -->
          </mat-select-trigger>
          <mat-option
            *ngFor="let priority of priorityList"
            [value]="priority['text']"
            >{{ priority["text"] }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="filter-btn-container">
    <button class="clear-btn" (click)="clearFilters()">Clear</button>
    <button class="filter-btn" (click)="sendFiltersObject()">Filter</button>
  </div>
</div>
