<div class="filter-modal-container">
  <p class="sort-by">SORT BY</p>
  <mat-radio-group aria-label="Select an option">
    <div class="key-container">
      <h4 class="filter-key">Default</h4>
      <mat-radio-button checked value="1"></mat-radio-button>
    </div>
    <div class="key-container">
      <h4 class="filter-key">Reporter Name</h4>
      <mat-radio-button value="2"></mat-radio-button>
    </div>
    <div class="key-container">
      <h4 class="filter-key">Date</h4>
      <mat-radio-button value="3"></mat-radio-button>
    </div>
    <div class="key-container">
      <h4 class="filter-key">Ticket Topic</h4>
      <mat-radio-button value="4"></mat-radio-button>
    </div>
    <div class="key-container">
      <h4 class="filter-key">Severity</h4>
      <mat-radio-button value="5"></mat-radio-button>
    </div>
    <div class="key-container">
      <h4 class="filter-key">Request Type</h4>
      <mat-radio-button value="6"></mat-radio-button>
    </div>
  </mat-radio-group>
</div>