<div *ngIf="settingID === undefined; then create; else update">
  here is ignored
</div>
<ng-template #create>
  <form [formGroup]="createSettingsFormGroup" *ngIf="!secondPage">
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <h1 mat-dialog-title class="Create-setting">
        Create a new help center request
      </h1>
      <mat-icon style="cursor: pointer" mat-dialog-close>close</mat-icon>
    </div>

    <mat-dialog-content class="mat-typography">
      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Request title <span class="mandatory"> *</span></label
          >
          <mat-form-field appearance="fill" [style.width.%]="97">
            <input
              placeholder="Fix an account problem"
              matInput
              formControlName="name"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Description <span class="mandatory"> *</span></label
          >
          <mat-form-field appearance="fill" [style.width.%]="100">
            <textarea
              rows="3"
              matInput
              formControlName="description"
              placeholder="Get IT help, Set up VPN to the office, Request a new account, Report a system problem, Report broken hardware"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Severity <span class="mandatory"> *</span></label
          >
          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-select formControlName="sevirity">
              <mat-option
                *ngFor="let option of severityList; let i = index"
                [value]="i"
              >
                {{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Priority <span class="mandatory"> *</span></label
          >
          <mat-form-field [style.width.%]="100" appearance="fill">
            <mat-select formControlName="priority" formControlName="priority">
              <mat-option
                *ngFor="let option of priorityList; let i = index"
                [value]="i"
              >
                {{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <label class="Ticket-type">Icon <span class="mandatory"> *</span></label>
      <div class="center" *ngIf="FileLinks.length == 0">
        <ngx-file-drop
          dropZoneLabel="Drop files here"
          (onFileDrop)="dropped($event, 0)"
          (onFileOver)="fileOver($event)"
          class="upload-drop-zone"
          (onFileLeave)="fileLeave($event)"
        >
          <ng-template
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector"
          >
            Drag and drop files, paste screenshots, or upload attachments
            <button
              type="button"
              class="cancel"
              style="display: block; margin-top: 1.5rem"
              (click)="openFileSelector()"
            >
              Browse Files
            </button>
          </ng-template>
        </ngx-file-drop>
      </div>

      <div class="Upcard" *ngFor="let item of FileLinks; let i = index">
        <div class="attachment-container">
          <mat-icon>attachment</mat-icon>
          {{ item
          }}<span
            class="delete-entry"
            style="cursor: pointer; color: red; margin-left: 2%"
            (click)="deleteImage(item)"
            >remove</span
          >
        </div>
      </div>

      <label class="Ticket-type"
        >Associated issue type <span class="mandatory"> *</span></label
      >
      <mat-form-field [style.width.%]="97" appearance="fill">
        <mat-select formControlName="type">
          <mat-option [value]="0"> Service Request</mat-option>
          <mat-option [value]="1"> Incidents</mat-option>
          <mat-option [value]="2"> Problems</mat-option>
          <mat-option [value]="3"> Changes</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Assigned team <span class="mandatory"> *</span></label
          >

          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-select formControlName="team">
              <mat-option
                *ngFor="let option of teamSoruce"
                [value]="option['value']"
              >
                {{ option["label"] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
         
        <div class="col-ddl">
          <label class="Ticket-type">Portal Group <span class="mandatory"> *</span></label>
        
          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-select multiple formControlName="groups">
              <mat-option *ngFor="let option of groupSource" [value]="option['value']">
                {{ option["label"] }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
    <div style="
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              width: 100%;
            ">
      <div *ngIf="createloader === true; then spinner; else btn"></div>
      <ng-template #spinner>
        <mat-spinner style="display: flex; justify-content: center; text-align: center" class="mt-2" color="warn"
          [diameter]="30"></mat-spinner>
      </ng-template>
      <ng-template #btn>
        <button mat-button mat-dialog-close class="cancel">Cancel request</button>
        <button mat-button class="send" [disabled]="!createSettingsFormGroup.valid"
          (click)="submitCreateSetting()">
          Submit
        </button>
      </ng-template>
    </div>
    </mat-dialog-actions>
  </form>
 
</ng-template>

<ng-template #update>
  <form [formGroup]="UpdateSettingsFormGroup" *ngIf="!secondPage">
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <h1 mat-dialog-title class="Create-setting">
        Update help center request
      </h1>
      <mat-icon style="cursor: pointer" mat-dialog-close>close</mat-icon>
    </div>

    <mat-dialog-content class="mat-typography">
      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Request title <span class="mandatory"> *</span></label
          >

          <mat-form-field appearance="fill" [style.width.%]="97">
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>
      </div>
      <label class="Ticket-type"
        >Request description <span class="mandatory"> *</span></label
      >
      <mat-form-field appearance="fill" [style.width.%]="100">
        <textarea rows="3" matInput formControlName="description"></textarea>
      </mat-form-field>

      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Severity <span class="mandatory"> *</span></label
          >
          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-select formControlName="sevirity" formControlName="sevirity">
              <mat-option
                *ngFor="let option of severityList; let i = index"
                [value]="i"
              >
                {{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Priority <span class="mandatory"> *</span></label
          >
          <mat-form-field [style.width.%]="100" appearance="fill">
            <mat-select formControlName="priority" formControlName="priority">
              <mat-option
                *ngFor="let option of priorityList; let i = index"
                [value]="i"
              >
                {{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <label class="Ticket-type"
        >Request icon <span class="mandatory"> *</span></label
      >
      <div class="center" *ngIf="FileLinks.length == 0">
        <ngx-file-drop
          dropZoneLabel="Drop files here"
          (onFileDrop)="dropped($event, 1)"
          (onFileOver)="fileOver($event)"
          class="upload-drop-zone"
          (onFileLeave)="fileLeave($event)"
        >
          <ng-template
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector"
          >
            Drag and drop files, paste screenshots, or upload attachments
            <button
              type="button"
              class="cancel"
              style="display: block; margin-top: 1.5rem"
              (click)="openFileSelector()"
            >
              Browse Files
            </button>
          </ng-template>
        </ngx-file-drop>
      </div>

      <div class="Upcard" *ngFor="let item of FileLinks; let i = index">
        <div class="attachment-container">
          <mat-icon>attachment</mat-icon>
          {{ item
          }}<span
            class="delete-entry"
            style="cursor: pointer; color: red; margin-left: 2%"
            (click)="deleteImage(item)"
            >remove</span
          >
        </div>
      </div>

      <label class="Ticket-type"
        >Associated issue type <span class="mandatory"> *</span></label
      >
      <mat-form-field [style.width.%]="97" appearance="fill">
        <mat-select formControlName="type">
          <mat-option [value]="0"> Service Request</mat-option>
          <mat-option [value]="1"> Incidents</mat-option>
          <mat-option [value]="2"> Problems</mat-option>
          <mat-option [value]="3"> Changes</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="row-ddl">
        <div class="col-ddl">
          <label class="Ticket-type"
            >Assigned team <span class="mandatory"> *</span></label
          >

          <mat-form-field [style.width.%]="97" appearance="fill">
            <mat-select formControlName="team">
              <mat-option
                *ngFor="let option of teamSoruce"
                [value]="option['value']"
              >
                {{ option["label"] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
      <div class="col-ddl">
        <label class="Ticket-type">Portal Group <span class="mandatory"> *</span></label>
      
        <mat-form-field [style.width.%]="97" appearance="fill">
          <mat-select multiple formControlName="groups" [(ngModel)]="groups">
            <mat-option *ngFor="let option of groupSource" [value]="option['value']">
              {{ option["label"] }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <div style="
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;
              ">
        <div *ngIf="createloader === true; then spinner; else btn"></div>
        <ng-template #spinner>
          <mat-spinner style="display: flex; justify-content: center; text-align: center" class="mt-2" color="warn"
            [diameter]="30"></mat-spinner>
        </ng-template>
        <ng-template #btn>
          <button mat-button class="Back" (click)="goBack()">Back</button>
          <button mat-button class="send" [disabled]="!UpdateSettingsFormGroup.valid"
            (click)="submitUpdateSetting()">
            Submit
          </button>
        </ng-template>
      </div>
    </mat-dialog-actions>
  </form>
 
</ng-template>
