<div *ngIf="settingID === undefined; then create; else update">
    here is ignored
</div>
<ng-template #create>
    <form [formGroup]="createSettingsFormGroup" (ngSubmit)="submiCreate()">
        <h1 mat-dialog-title class="Create-setting">Create Request Type</h1>
        <mat-dialog-content class="mat-typography">
            <label class="Ticket-type">Name <span class="mandatory"> *</span></label>
            
            <mat-form-field appearance="fill" [style.width.%]="100">
                <input matInput formControlName="name" />
            </mat-form-field>
            <label class="Ticket-type">Description <span class="mandatory"> *</span></label>
            <mat-form-field appearance="fill" [style.width.%]="100">
                <textarea rows="3" matInput formControlName="description"></textarea>
            </mat-form-field>
            <label class="Ticket-type">Icon <span class="mandatory"> *</span></label>
            <div class="center">
                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event, 0)" (onFileOver)="fileOver($event)"
                    class="upload-drop-zone" (onFileLeave)="fileLeave($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        Drag and drop files, paste screenshots, or upload attachments
                        <button type="button" class="cancel" style="display: block; margin-top: 1.5rem"
                            (click)="openFileSelector()">
                            Browse Files
                        </button>
                    </ng-template>
                </ngx-file-drop>
            </div>
            
            <div class="Upcard" *ngFor="let item of FileLinks; let i = index">
                <div class="attachment-container">
                    <mat-icon>attachment</mat-icon>
                    {{ item
                    }}<span class="delete-entry" style="cursor: pointer; color: red; margin-left: 2%"
                        (click)="deleteImage(item)">remove</span>
                </div>
            </div>
<div class="col-ddl">
    <label class="Ticket-type">Type <span class="mandatory"> *</span></label>
    <mat-form-field [style.width.%]="97" appearance="fill">
        <mat-select formControlName="type">
            <mat-option  [value]="0">
                Service Request</mat-option>
                <mat-option [value]="1">
                    Incidents</mat-option>
                    <mat-option [value]="2">
                        Problems</mat-option>
                        <mat-option [value]="3">
                            Changes</mat-option>
        </mat-select>
    </mat-form-field>
</div>

            </mat-dialog-content>
        <mat-dialog-actions align="end">
                <button  mat-button class="send" type="button" [disabled]="!createSettingsFormGroup.valid" (click)="getGroups()" >Next</button>
            </mat-dialog-actions>
            </form>
            </ng-template>
            <ng-template #update></ng-template>
