
<div class="table-header">
    <button type="button" class="Filter"><mat-icon class="filter-icon">filter_list</mat-icon>Filter</button>
    <mat-form-field  class="Rectangle-48">
    
        <mat-label>Search Users by Name or Email</mat-label>
        <input matInput  [type]="'text'" formControlName="searchText">
        <button type="button" mat-icon-button matPrefix class="search-icon">
           <mat-icon  >search</mat-icon>
        </button>
    </mat-form-field>
    
    
    <div class="Table-buttons"> <label class="Export-queue">Export TABLE</label><img src="assets/Checkbox.svg"/></div>
</div>
