<div class="Rectangle-6">
  <div class="mainTableHeader">
    <div class="table-header">
      <label class="Actions-Tickets-Queue"> Actions / Changes </label>
      <label class="Tickets-Queue">Changes</label>
    </div>
    <div class="table-right-header">
      <button
        type="button"
        class="Table-buttons"
        mat-button
        (click)="openDialog()"
      >
        Create Ticket
      </button>
      <button
        type="button"
        class="Table-buttons-Export icon"
        (click)="exportTable()"
        *ngIf="!showSpinner"
      >
        Export Table <mat-icon class="export-btn-icon">save_alt</mat-icon>
      </button>
      <button
        type="button"
        class="Table-buttons-settings icon"
        *ngIf="!showSpinner"
      >
        <img src="assets/More.png" class="icon-img" />
      </button>
    </div>
  </div>
  <div class="second-Div">
    <app-all-table-component [tab]="3"></app-all-table-component>
  </div>
</div>
