.filter-modal-container {
  width: 50vw;
  height: 15vh;
  padding: 14px 27px 181px 18px;
  border-radius: 6px;
  background-color: #ffffff;
}

.filter-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.filter-title {
  color: #717171;
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.clear {
  color: #c4161c;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.clear:hover {
  cursor: pointer;
}

.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-controller {
  display: flex;
  flex-direction: column;
}

.filter-btn-container {
  display: flex;
  justify-content: flex-end;
}

.filter-btn {
  padding: 10px 15px 10px 15px;
  border-radius: 6px;
  background-color: #c4161c;
  color: #ffffff;
  border: none;
}

.filter-btn:hover {
  cursor: pointer;
}

.clear-btn {
  padding: 10px 15px 10px 15px;
  border-radius: 6px;
  margin-right: 1rem;
  background-color: #f1efef;
  color: #c4161c;
  border: none;
}

.clear-btn:hover {
  cursor: pointer;
}