.mat-dialog-container {
  width: 934px;
  height: 1040px;
  flex-grow: 0;
  margin: 107px 253px 0;
  padding: 18px 36px 36px;
  border-radius: 24px;
  background-color: #ffffff;
}

.Create-a-ticket {
  width: 287px;
  height: 50px;
  flex-grow: 1;
  margin: 0 153px 36px 0;
  font-family: Poppins;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: 1px;
  text-align: left;
  color: #14142b;
}

.Ticket-type {
  width: 100%;
  flex-grow: 0;
  margin: 0 20rem 8px 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  display: flex;
  flex-direction: row;
}

.mandatory {
  color: #ed1c24;
  display: flex;
  flex-direction: column;
}

mat-select {
  width: 100%;
}

.upload-drop-zone {
  width: 100%;
  height: 157px;
  flex-grow: 0;
  margin: 36px 0 8px;
  border-radius: 4px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: solid 2px #edebe9;
  background-color: #f5f6f7;
}

.row-ddl {
  display: flex;
  flex-direction: row;
}

.col-ddl {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cancel {
  width: 158px;
  height: 44px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: #f5f6f7;
  color: black;
}

.send {
  width: 158px;
  height: 44px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: #c4161c;
  color: white;
}

.mat-checkbox {
  padding-right: 19rem;
}

.menu {
  width: 98.25%;
  display: flex;
  flex-direction: row;
  background-color: silver;
  padding: 0.5rem;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.red-menu {
  background-color: #c4161c;
  border-radius: 10px;
  display: flex;
  padding: 15px;
  color: #ffffff;
  height: 1.5rem;
  margin-top: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.person-data-menu {
  width: 13rem;

  margin-top: 0;
  line-height: 0.5%;
  margin: 0.5rem;
}

.attachment-container {
  display: flex;
  flex-direction: row;
}
