<div class="escalate-modal-container">
  <div class="escalate-title-container">
    <h1 class="escalate-title">Escalate A Ticket</h1>
    <mat-icon mat-dialog-close class="icon">close</mat-icon>
  </div>

  <div class="escalate-text-container">
    <p class="escalate-text">Why do you want to escalate this ticket?</p>
    <span style="color: #ed1c24">*</span>
  </div>
  <mat-form-field appearance="fill" class="escalate-ddl">
    <input
      type="text"
      matInput
      placeholder="Write you escalation reasons here:"
      (input)="getEscalationText($event)"
    />
  </mat-form-field>
  <div class="escalate-btns">
    <div *ngIf="createloader === true; then spinner; else btn"></div>
    <ng-template #spinner>
      <mat-spinner
        style="display: flex; justify-content: center; text-align: center"
        class="mt-2"
        color="warn"
        [diameter]="30"
      ></mat-spinner>
    </ng-template>
    <ng-template #btn>
      <button class="open-ticket-btn icon" (click)="closeModal()">
        GO BACK
      </button>
      <button class="escalate-ticket-btn icon" (click)="escalateHandler()">
        ESCALATE TICKET
      </button>
    </ng-template>
  </div>
</div>
