<div class="escalate-modal-container">
  <div class="escalate-title-container">
    <h1 class="escalate-title">Escalate Ticket</h1>
    <mat-icon mat-dialog-close>close</mat-icon>
  </div>

  <div class="escalate-text-container">
    <p class="escalate-text">Escalate to</p>
    <span style="color: #ed1c24">*</span>
  </div>
  <mat-form-field appearance="fill" class="escalate-ddl">
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-select-trigger>
        {{ toppings.value ? toppings.value[0] : "" }}
        <span
          *ngIf="toppings.value?.length > 1"
          class="example-additional-selection"
        >
          (+{{ toppings.value.length - 1 }}
          {{ toppings.value?.length === 2 ? "other" : "others" }})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
        topping
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="escalate-btns">
    <button class="open-ticket-btn">GO BACK</button>
    <button class="escalate-ticket-btn">ESCALATE TICKET</button>
  </div>
</div>
