/* .options-modal-container {
  width: fit-content;
  height: fit-content;
}



.edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cancel-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
.icon:hover {
  cursor: pointer;
}