::ng-deep.notifications {
  min-width: 30rem !important;
  max-height: 15rem !important;
}
.notification-item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mat-spinner::ng-deep circle {
  stroke: #c4161c;
}
.spinner-design {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5%;
}