::ng-deep.notifications {
  min-width: 22rem !important;
  max-height: 15rem !important;
}

.notification-item-container{
    display: flex;
    flex-direction: column;
}
.mat-spinner::ng-deep circle {
  stroke: #c4161c;
}
.spinner-design {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5%;
}
.btn-More-Noticiation{
  cursor: pointer;
  text-align: center;
  width: 100%;
}