@import "~bootstrap/dist/css/bootstrap.css";

.Rectangle-3 {
  background-image: linear-gradient(to top, #1ced63, #165cc4);
  height: 35vh;
}
.Ellipse-1 {
  flex-grow: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 30px;
  border: solid 2px #ffffff;
  background-color: #e0e0e0;
}
.Halwani-Help-center {
  width: 204px;
  height: 28px;
  flex-grow: 0;
  margin: 10px 0px 0px 8px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.Rectangle-4 {
  z-index: 1;
  height: 100%;
}
