@import "~bootstrap/dist/css/bootstrap.css";

.Rectangle-3 {
  background-image: linear-gradient(to top, #1ced63, #165cc4);
  height: 40vh;
}
.Ellipse-1 {
  flex-grow: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 30px;
  border: solid 2px #ffffff;
  background-color: #e0e0e0;
}
.white-menu{
  width: 35px;
  height: 40px;
  flex-grow: 0;
  padding: 10px 8px;
  background-color: white;
  border: none;
  border-radius: .5rem ;
  color: #107c10;
}
.Halwani-Help-center {
  width: 204px;
  height: 28px;
  flex-grow: 0;
  margin: 10px 0px 0px 8px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.Rectangle-4 {
  z-index: 1;
  height: 100%;
}
::-webkit-scrollbar {
  width: 5px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
