.table-header {
  display: flex;
  flex-direction: row;
}
.mat-column-select {
  overflow: initial;
}

.table {
  height: fit-content;
}
.mat-spinner::ng-deep circle {
  stroke: #c4161c;
}
.Filter {
  width: 7.5rem;
  height: 3.45rem;
  margin: 3px 0.25rem 4px 10px;
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: #25213b;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.filter-icon {
  padding-right: 0.5rem;
}
.Rectangle-48 {
  width: 25rem;
  height: 2.45rem;
  margin: 2px 26.3125rem 0 8px;
  padding: 8px 30px 8px 19.2px;
  border-radius: 6px;
  border: solid 1px #edebe9;
  background-color: #ffffff;
  display: inline;
}
.search-icon {
  border: none;
  background-color: white;
}
.Table-buttons {
  width: 12rem;
  height: 2.45rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  float: right;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: #f5f6f7;
}
.Export-queue {
  width: 141px;
  height: 24px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #42526e;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white im !important;
}
/* cell 1 */
.menu {
  width: 17rem;
  display: flex;
  flex-direction: row;
}
.red-menu {
  background-color: #c4161c;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 4%;
  margin-top: 0;
  margin-right: .2rem;
  color: #ffffff;
  align-self: center;
}
.person-data-menu {
  width: 13rem;
  margin-top: 0;
  line-height: 0.5%;
  margin-right: 0.5rem;
}

.icon:hover {
  cursor: pointer;
}
.spinner-design {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5%;
}
.Created {
  background-color: rgb(42, 102, 42);
}
.Waiting {
  background-color: #fae295;
}
.InProgress {
  background-color: #a998fd;
}
.esclated {
  background-color: #ec5b60;
}
.reOpened {
  background-color: #5eb0e7;
}
.resolved {
  background-color: #45b685;
}
.Cancelled {
  background-color: rgb(143, 48, 48);
}
.statusBubble {
  width: fit-content;
  height: 22px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 2px 5px;
  border-radius: 10px;
  color: white;
}
th {
  text-align: center;
  font-weight: bold;
  color: #333333;
  background-color: #f5f6f7;
}
.hide {
  z-index: 5;
  opacity: 0;
  display: none;
  position: absolute;
}

.cancel:hover+.hide {
  opacity: 1;
  display: block;
  color: #c4161c;
  margin-top: 1.5rem;
}
.escalate:hover+.hide {
  opacity: 1;
  display: block;
  color: #c4161c;
  margin-top: 1.5rem;
}

.open:hover+.hide {
  opacity: 1;
  display: block;
  color: #c4161c;
  margin-top: 1.5rem;
}

.options:hover+.hide {
  opacity: 1;
  display: block;
  color: #c4161c;
  margin-top: 1.5rem;
}