<div class="Rectangle-6">
  <div class="mainTableHeader">
    <div class="table-header">
      <label class="Actions-Tickets-Queue"> Actions / My Tickets </label>
      <label class="Tickets-Queue">My Tickets</label>
    </div>
    <div class="table-right-header">
      <a
        type="button"
        class="Table-buttons"
        mat-button
        [routerLink]="['/user/helpCenter']"
      >
        Create Ticket
      </a>

      <button type="button" class="Table-buttons-settings icon">
        <img src="assets/More.png" class="icon-img" />
      </button>
    </div>
  </div>
  <div class="Rectangle-339">
    <app-tickets-table
      *ngIf="!empty"
      [withActions]="withActions"
    ></app-tickets-table>
    <div *ngIf="empty">
      <app-nomore-tickets></app-nomore-tickets>
    </div>
  </div>
</div>
