<div class="Rectangle-6">
    <div class="mainTableHeader">
        <div class="table-header">
            <label class="Actions-Tickets-Queue"> Actions / My Escalations </label>
            <label class="Tickets-Queue">My Escalations</label>
        </div>
        <!-- <div class="table-right-header">
            <button type="button" class="Table-buttons" mat-button (click)="openDialog()">
                Create Ticket
            </button>

            <button type="button" class="Table-buttons-settings icon">
                <img src="assets/More.png" class="icon-img" />
            </button>
        </div> -->
    </div>
    <div class="Rectangle-339">

        <app-tickets-table *ngIf="!empty" [from]="1" [Status]="5" [withActions]="withActions"></app-tickets-table>
        <div *ngIf="empty">
            <app-nomore-tickets></app-nomore-tickets>
        </div>
    </div>

</div>