/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #f8f8f8;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-checkbox-inner-container-no-side-margin {
  margin-right: 15px !important;
}
.ngx-file-drop__drop-zone {
  border: none !important;
  border-radius: 30px;
  height: 100% !important;
  width: 100%;
  margin: auto;
}
.ngx-file-drop__content {
  align-items: center;
  color: black !important;
  display: flex;

  flex-direction: column !important;
  height: 100px;
  justify-content: center;
}
.optionHeight {
  height: 7.5em !important;
}
.mat-tab-body-content {
  overflow-y: hidden !important;
  height: 100vh !important;
}
.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 0 !important;
}
table.mat-table {
  width: 100% !important;
}
